<html>
<head>
	<title>HOME PAGE</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
	<header>
		<div class="main">
		<div class="logo">
			<img src="../static/soict.png">
		</div>
			<ul>
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>SMART CONTRACT</h1>
		</div>
		
		<div class="button">
		<a href="/register" class="btn">GET STARTED</a>
		<a href="#" class="btn">LEARN MORE</a>
		
		</div>
	</header>

</body>