<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Login , registration, forgot password "./>
<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!--/start-login-one-->
	<div class="login-01">
		<div class="one-login  hvr-float-shadow">
			<div class="one-login-head">
					<img src="images/top-lock.png" alt=""/>
					<h1>LOGIN</h1>
					<span></span>
			</div>
			<form method="POST">
				<li>
					<input type="text" name='usr' class="text"><a href="#" class=" icon user"></a>
				</li>
				<li>
					<input type="password" name='pwd'><a href="#" class=" icon lock"></a>
				</li>
				<div class="p-container">
						<label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i> Remember Me </label>
						<h6><a href="ACCOUNT-RESET.html">Forgot Password ?</a> </h6>
							<div class="clear"> </div>
				</div>
				<div class="submit">
						<input type="submit"  value="SIGN IN" >
				</div>
				{% if error %}  
				<p><strong>Error</strong>: {{error}}</p>  
				{% endif %}  
					<h5>Don't have an account ?<a href="/register"> Sign Up </a></h5>
				</form>
		</div>
	</div>
</body>
</html>
